body {
  padding: 0;
  margin: 0;
}
video {
  width: 100%;
}
.im-active img {
  background-color: #333;
}
.im-top {
  padding: 30px 0 30px;
  border-bottom: 6px solid #e0c469;
  background: #fff;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  position: relative;
}
.im-top.fixed {
  position: fixed;
}
.logo {
  margin-bottom: 20px;
}
.logo img {
  margin-top: 9px;
}
.logo .carousel-caption {
  display: none !important;
}
.im-movie .object {
  padding: 0;
}
.slider {
  margin-bottom: 15px;
}
.im-language ul {
  float: right;
}
.im-language ul li {
  list-style-type: none;
  display: inline;
}
.objects .pagination-arrow {
  text-align: center;
}
.objects .pagination-arrow i {
  margin: 5px;
  cursor: pointer;
}
.object img {
  width: 100%;
  z-index: 1;
}
.object .carousel i {
  font-size: 40px;
}
.navbar {
  padding: 0;
  margin-top: 7px;
}
.navbar ul li {
  padding: 4px 7px 0;
  text-align: center;
  margin: 0 2px 0;
  border: 1px solid #fff;
}
.navbar ul li a {
  color: #333;
}
.navbar ul li a p {
  color: #aaa;
  font-size: 12px;
}
.navbar ul li.active {
  border-color: #e0c469;
}
.navbar ul li.active a {
  color: #e0c469;
}
.navbar ul li.active-hover {
  border-bottom-color: #ac0413;
}
.navbar ul li.active-hover a {
  color: #ac0413;
}
.navbar ul li:hover {
  border-color: #e0c469;
}
.navbar-toggler {
  margin-top: -82px;
  border: 1px solid #777;
}
.navbar-toggler i {
  font-size: 29px;
  color: #777;
}
.movie-text {
  z-index: 1;
  position: absolute;
  color: #fff;
  width: 100%;
  opacity: 0.3;
  margin-top: 10%;
}
.movie-text span {
  border: 3px solid #fff;
  padding: 40px;
}
.box {
  margin: 50px 0 50px;
}
.box .object {
  padding: 10px;
  border: 25px solid #fff;
}
.box .object > div {
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.box .object .icon {
  font-size: 40px;
  color: #ddd;
}
.box .object .title {
  font-weight: bold;
  font-size: 17px;
  padding: 8px 0 8px;
}
.box .object .text {
  color: #aaa;
  line-height: 26px;
}
.box .object .icon,
.box .object .link {
  margin: 20px 0 20px;
}
.link {
  background-color: #ac0413;
  color: #fff;
}
.show-object {
  color: #ac0413;
  font-size: 29px !important;
  cursor: pointer;
  margin-bottom: 15px;
}
.im-box .carousel {
  -webkit-box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.im-box .carousel img {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.im-box .carousel-caption {
  display: none !important;
}
.im-box-list p {
  line-height: 46px !important;
}
.im-box-list i {
  font-size: 50px !important;
  color: #e0c469;
  margin-bottom: 10px;
}
.im-box-simple {
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  border: 40px solid #fff;
}
.im-box-simple .box-icon {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e0c469;
}
.im-box-simple .box-icon i {
  color: #e0c469;
  font-size: 32px;
}
.im-box-simple .box-name section {
  font-size: 19px;
}
.im-box-simple .box-link a {
  color: #ac0413;
}
.im-box-simple .box-link a span {
  float: left;
  font-size: 17px;
  margin: 10px 5px 0;
}
.im-box-simple .box-link a i {
  font-size: 20px;
  margin-top: 13px;
}
.company-image .carousel-caption {
  display: none !important;
}
.im-breadcrumb {
  text-transform: lowercase;
  padding: 20px;
}
.im-breadcrumb a {
  color: #aaa;
  cursor: pointer;
}
.im-breadcrumb a.im-last {
  cursor: auto;
}
.im-breadcrumb a:hover {
  text-decoration: none;
}
.im-breadcrumb i {
  margin: 0 5px 0;
  color: #ddd;
}
.im-breadcrumb-parallax {
  margin-top: -60px;
  color: #fff;
}
.im-breadcrumb-parallax a,
.im-breadcrumb-parallax i {
  color: #fff;
}
.im-footer {
  background-color: #777;
  min-height: 300px;
  color: #fff;
  text-align: center;
  margin-top: 40px;
}
.im-footer section {
  padding: 10px;
}
.im-footer section p {
  font-size: 14px;
}
.im-footer .map div,
.im-footer .company-image div {
  padding: 0;
}
.im-footer .footer-logo img {
  width: auto;
  margin: 10px 0 20px;
}
.im-footer .carousel-caption {
  display: none !important;
}
.translation p {
  line-height: 34px;
}
.translation p,
.translation i {
  font-size: 16px;
}
#cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #fff;
  opacity: 0.8;
  width: 100%;
  z-index: 1;
  color: #333;
  line-height: 30px;
}
#cookie i {
  font-size: 40px;
  margin: 5px;
  margin-right: 10px;
}
.list-group-flush {
  padding-left: 0;
}
.list-group-flush li {
  font-weight: bold;
}
.im-list-group {
  padding-left: 26px;
}
.im-list-group li {
  list-style-type: disc;
  margin-top: 20px;
}
.im-list-group li strong {
  margin-bottom: 10px;
  font-size: 16px;
}
.im-list-group li div {
  color: #777;
}
.im-list-group li div,
.im-list-group li a {
  font-size: 13px;
}
.img-right {
  float: right;
}
.img-right img {
  width: 300px;
  -webkit-box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-left: 30px;
}
.img-right span {
  display: block;
  text-align: center;
}
.img-center {
  text-align: center;
}
.img-center img {
  width: 40%;
  -webkit-box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 10px 0;
}
.img-center span {
  display: none;
}
.map div {
  height: 350px;
}
.im-form input[type="text"] {
  border: none;
  border-bottom: 1px solid #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.im-form input[type="button"] {
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: 5px;
}
.im-form input[type="text"],
.im-form input[type="file"] {
  padding: 5px;
}
.im-form .tox-tinymce {
  border: none;
}
.im-form .tox-sidebar-wrap {
  border: 1px solid #ccc;
  border-top: none;
}
.im-form .tox-statusbar {
  display: none !important;
}
.file div,
.language div,
.file ul,
.language ul,
.file li,
.language li {
  margin: 0;
  padding: 0;
}
.file {
  margin-top: 10px;
}
.file i,
.file a {
  float: left;
  margin-top: 6px;
}
.file li {
  border: none;
}
.file i {
  padding: 4px;
}
.file section {
  margin-right: 2px;
  margin-top: 1px;
}
.file .list-group-item {
  border: 1px solid #eee;
  padding-top: 17px;
  padding-left: 5px;
  margin: 1px 0;
}
.content ul {
  padding: 0;
  margin-top: 10px;
}
.content ul li i {
  float: left;
  margin: 3px 5px 0 0;
}
.language {
  position: fixed;
  top: 29px;
  right: -1px;
  z-index: 3;
}
.language li {
  list-style-type: none;
  margin: 1px 0;
  padding: 7px 7px 4px;
  -webkit-box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 9px 32px -4px rgba(0, 0, 0, 0.27);
  background: #333;
}
.language li a {
  color: #e0c469;
}
.eu {
  position: absolute;
  right: -3px;
  top: 140px;
  width: 60px;
  z-index: 1;
}
.eu .carousel-caption {
  display: none !important;
}
.en-content .request-proposal,
.de-content .request-proposal {
  display: none;
}
#dzial-kontroli-jakosci .content .im-box-list {
  margin-bottom: 60px;
}
#dzial-kontroli-jakosci .content .im-box-list .left-list {
  padding-top: 15px;
}
#ogolne-warunki-handlowe .file .list-group-item {
  display: none;
}
@media (max-width: 1199px) {
  #dzial-kontroli-jakosci .content .im-box-list {
    margin-bottom: 10px;
  }
  #dzial-kontroli-jakosci .content .im-box-list .left-list {
    padding-top: 10px;
  }
}
@media (max-width: 992px) {
  .im-top.fixed {
    position: relative !important;
  }
  .im-content {
    padding-top: 0 !important;
  }
  .navbar {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .img-right {
    float: none;
  }
  .img-right img {
    width: 100%;
    margin: 0;
  }
  .img-center img {
    width: 100%;
    margin: 0;
  }
  #strona-glowna .eu {
    top: unset;
  }
}
@media (max-width: 430px) {
  .navbar-toggler {
    margin-top: -75px;
  }
  .eu {
    top: 130px;
  }
}
@media (max-width: 370px) {
  .navbar-toggler {
    margin-top: -66px;
  }
  .navbar-toggler i {
    font-size: 22px;
  }
}
/*# sourceMappingURL=main.css.map */