.im-top{
  padding: 30px 0 30px;
  border-bottom: 6px solid @gold;
}
.logo{
  img {
    margin-top: 19px;
  }
}
.im-movie{
  .object{
    padding: 0;
  }
}
.im-footer{
  background-color: @dark-gray;
  min-height: 300px;
  color: @white;
  text-align: center;
  section {
    padding: 10px;
    p {
      font-size: 18px;
    }
  }
}
.im-language{
  ul{
    float: right;
    li{
      list-style-type: none;
      display: inline;
    }
  }
}
.objects{
  .pagination-arrow{
    text-align: center;
    i{
      margin: 5px;
      cursor: pointer;
    }
  }
}
.object{
  img{
    width: 100%;
    z-index: 1;
  }
  .carousel{
    i{
      font-size: 40px;
    }
  }
}
.navbar{
  padding: 0;
  ul{
    li{
      padding: 11px 7px 0;
      text-align: center;
      margin: 0 2px 0;
      border: 1px solid @white;
      a{
        color: @black;
        p {
          color: @gray;
          font-size: 12px;
        }
      }
    }
    li.active{
      border-color: @gold;
      a{
        color: @gold;
      }
    }
    li:hover{
      border-color: @gold;
    }
  }
}
.movie-text{
  z-index: 1;
  position: absolute;
  color: @white;
  width: 100%;
  opacity: 0.3;
  margin-top: 10%;
  span{
    border: 3px solid @white;
    padding: 40px;
  }
}
.box{
  margin: 50px 0 50px;
  .object{
    padding: 10px;
    border: 25px solid @white;
    > div{
      .light-shadow();
      .round-corner(@box-round-corner);
    }
    .icon{
      font-size: 40px;
      color: @light-gray;
    }
    .title{
      font-weight: bold;
      font-size: 17px;
      padding: 8px 0 8px;
    }
    .text{
      color: @gray;
      line-height: 26px;
    }
    .link{
      background-color: @red;
      color: @white;
    }
    .icon, .link{
      margin: 20px 0 20px;
    }
  }
}
.company-image{
  .carousel-caption{
    display: none !important;
  }
}
#cookie{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 60px;
  z-index: 1;
  color: @black;
}