RewriteEngine on
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?section=$1 [NC]
RewriteRule ^([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+)$ index.php?section=$1&var1=$2 [NC]
RewriteRule ^([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+)$ index.php?section=$1&var1=$2&var2=$3 [NC]
RewriteRule ^([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+)$ index.php?section=$1&var1=$2&var2=$3&var3=$4 [NC]
RewriteRule ^([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+)$ index.php?section=$1&var1=$2&var2=$3&var3=$4&var4=$5 [NC]
RewriteRule ^([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+),([a-zA-Z0-9_-]+)$ index.php?section=$1&var1=$2&var2=$3&var3=$4&var4=$5&var5=$6 [NC]